<a href="https://colab.research.google.com/github/Naveen148/Naveen-M/blob/main/akaikeds_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [95]:
import pandas as pd

In [96]:
df=pd.read_parquet(r'/content/drive/MyDrive/test.parquet')

In [97]:
df.drop_duplicates()

                                  Patient-Uid       Date        Incident
0        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0
1        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0
2        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2
3        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1
4        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0
...                                       ...        ...             ...
1372854  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-05-11    DRUG_TYPE_13
1372856  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2018-08-22     DRUG_TYPE_2
1372857  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-02-04     DRUG_TYPE_2
1372858  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-09-25     DRUG_TYPE_8
1372859  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-05-19     DRUG_TYPE_7

[1053424 rows x 3 columns]

In [98]:
df.head()

                            Patient-Uid       Date        Incident
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0
2  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2
3  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1
4  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0

In [99]:
df.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

                                 Patient-Uid                 Date     Incident
count                                1065524              1065524      1065524
unique                                 11482                 1947           55
top     a0faa6ed-1c7c-11ec-8f6f-16262ee38c7f  2018-03-13 00:00:00  DRUG_TYPE_6
freq                                    1236                 1139       192292
first                                    NaN  2015-04-07 00:00:00          NaN
last                                     NaN  2020-08-04 00:00:00          NaN

In [100]:
df.shape

(1065524, 3)

In [101]:
df.dtypes

Patient-Uid            object
Date           datetime64[ns]
Incident               object
dtype: object

In [102]:
df.Incident.unique()

array(['SYMPTOM_TYPE_0', 'DRUG_TYPE_0', 'DRUG_TYPE_2', 'DRUG_TYPE_1',
       'PRIMARY_DIAGNOSIS', 'DRUG_TYPE_8', 'TEST_TYPE_0', 'DRUG_TYPE_7',
       'DRUG_TYPE_11', 'SYMPTOM_TYPE_6', 'DRUG_TYPE_5', 'DRUG_TYPE_6',
       'DRUG_TYPE_9', 'DRUG_TYPE_15', 'TEST_TYPE_3', 'SYMPTOM_TYPE_3',
       'TEST_TYPE_1', 'DRUG_TYPE_3', 'TEST_TYPE_2', 'SYMPTOM_TYPE_7',
       'DRUG_TYPE_12', 'SYMPTOM_TYPE_2', 'SYMPTOM_TYPE_10',
       'SYMPTOM_TYPE_1', 'SYMPTOM_TYPE_17', 'SYMPTOM_TYPE_18',
       'SYMPTOM_TYPE_5', 'SYMPTOM_TYPE_15', 'SYMPTOM_TYPE_9',
       'SYMPTOM_TYPE_4', 'SYMPTOM_TYPE_8', 'SYMPTOM_TYPE_29',
       'DRUG_TYPE_13', 'SYMPTOM_TYPE_21', 'DRUG_TYPE_4',
       'SYMPTOM_TYPE_12', 'SYMPTOM_TYPE_11', 'SYMPTOM_TYPE_19',
       'DRUG_TYPE_14', 'SYMPTOM_TYPE_16', 'TEST_TYPE_4', 'DRUG_TYPE_10',
       'SYMPTOM_TYPE_26', 'SYMPTOM_TYPE_14', 'SYMPTOM_TYPE_24',
       'DRUG_TYPE_16', 'SYMPTOM_TYPE_13', 'TEST_TYPE_5',
       'SYMPTOM_TYPE_20', 'SYMPTOM_TYPE_25', 'SYMPTOM_TYPE_22',
       'DRUG_TYPE_17', 'SYMPTOM_TYPE_27', 'SYMPTOM_TYPE_23',
       'SYMPTOM_TYPE_28'], dtype=object)

In [103]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [104]:
df.isnull().sum()

Patient-Uid    0
Date           0
Incident       0
dtype: int64

In [105]:
df['Incident'].value_counts()

DRUG_TYPE_6          192292
DRUG_TYPE_1          169127
PRIMARY_DIAGNOSIS    130511
DRUG_TYPE_7           93002
DRUG_TYPE_0           91059
DRUG_TYPE_2           90629
DRUG_TYPE_8           56213
DRUG_TYPE_3           41091
TEST_TYPE_1           34274
DRUG_TYPE_9           25294
DRUG_TYPE_5           20692
DRUG_TYPE_11          17542
SYMPTOM_TYPE_0        17292
SYMPTOM_TYPE_6        11536
TEST_TYPE_0           10921
SYMPTOM_TYPE_7         7943
SYMPTOM_TYPE_5         5403
DRUG_TYPE_14           4963
DRUG_TYPE_10           4245
DRUG_TYPE_13           4079
SYMPTOM_TYPE_1         2955
DRUG_TYPE_12           2826
SYMPTOM_TYPE_2         2772
TEST_TYPE_3            2709
SYMPTOM_TYPE_8         2683
TEST_TYPE_2            2524
SYMPTOM_TYPE_14        2482
DRUG_TYPE_4            1840
SYMPTOM_TYPE_15        1818
SYMPTOM_TYPE_10        1783
SYMPTOM_TYPE_29        1703
SYMPTOM_TYPE_9         1689
SYMPTOM_TYPE_16        1576
DRUG_TYPE_15           1373
SYMPTOM_TYPE_4         1315
SYMPTOM_TYPE_3          968
SYMPTOM_TYPE_12         935
SYMPTOM_TYPE_11         776
SYMPTOM_TYPE_17         714
SYMPTOM_TYPE_13         531
DRUG_TYPE_16            426
TEST_TYPE_4             377
SYMPTOM_TYPE_18         164
SYMPTOM_TYPE_22         114
SYMPTOM_TYPE_21         110
SYMPTOM_TYPE_19          70
SYMPTOM_TYPE_24          46
TEST_TYPE_5              40
SYMPTOM_TYPE_20          27
SYMPTOM_TYPE_23          21
SYMPTOM_TYPE_26          19
SYMPTOM_TYPE_28          10
DRUG_TYPE_17              8
SYMPTOM_TYPE_27           8
SYMPTOM_TYPE_25           4
Name: Incident, dtype: int64

In [106]:
df['Patient-Uid'].value_counts()

a0faa6ed-1c7c-11ec-8f6f-16262ee38c7f    1236
a0f9fcfc-1c7c-11ec-9753-16262ee38c7f     987
a10011d0-1c7c-11ec-8a16-16262ee38c7f     806
a1006069-1c7c-11ec-83a8-16262ee38c7f     721
a0ffae67-1c7c-11ec-bceb-16262ee38c7f     719
                                        ...
a101cf69-1c7c-11ec-b136-16262ee38c7f      21
a101d8ce-1c7c-11ec-94ac-16262ee38c7f      21
a101b6af-1c7c-11ec-bab2-16262ee38c7f      21
a10235ed-1c7c-11ec-91d7-16262ee38c7f      21
a100afdf-1c7c-11ec-ae98-16262ee38c7f      20
Name: Patient-Uid, Length: 11482, dtype: int64

In [107]:
from sklearn import preprocessing


label_encoder = preprocessing.LabelEncoder()


df['Incident']= label_encoder.fit_transform(df['Incident'])

df['Incident'].unique()

array([19,  0, 10,  1, 18, 16, 49, 15,  3, 45, 13, 14, 17,  7, 52, 42, 50,
       11, 51, 46,  4, 31, 21, 20, 28, 29, 44, 26, 48, 43, 47, 41,  5, 33,
       12, 23, 22, 30,  6, 27, 53,  2, 38, 25, 36,  8, 24, 54, 32, 37, 34,
        9, 39, 35, 40])

In [108]:
from sklearn import preprocessing


label_encoder = preprocessing.LabelEncoder()


df['Patient-Uid']= label_encoder.fit_transform(df['Patient-Uid'])

df['Patient-Uid'].unique()

array([    0,     1,     2, ..., 11479, 11480, 11481])

In [125]:
df['Date']=df['Date'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

In [126]:
df.dtypes

Patient-Uid    int64
Date           int64
Incident       int64
dtype: object

In [127]:
df[["Date", "Incident"]].groupby("Date").nunique()

                     Incident
Date
1428364800000000000        33
1428451200000000000        35
1428537600000000000        31
1428624000000000000        34
1428710400000000000        35
...                       ...
1596153600000000000        12
1596240000000000000        10
1596326400000000000         6
1596412800000000000         4
1596499200000000000         6

[1947 rows x 1 columns]

In [128]:
df['Date'].value_counts()

1520899200000000000    1139
1517270400000000000    1127
1558396800000000000    1113
1517356800000000000    1108
1520467200000000000    1101
                       ...
1596499200000000000      11
1594598400000000000      11
1595808000000000000       9
1594512000000000000       7
1596412800000000000       6
Name: Date, Length: 1947, dtype: int64

In [130]:
df[["Patient-Uid", "Incident"]].groupby("Patient-Uid").nunique()

             Incident
Patient-Uid
0                  11
1                  11
2                   8
3                   8
4                   7
...               ...
11477               5
11478               9
11479               6
11480               6
11481               8

[11482 rows x 1 columns]

In [131]:
df[["Patient-Uid", "Incident"]].groupby("Incident").nunique()

          Patient-Uid
Incident
0                9840
1                9001
2                 657
3                4655
4                 344
5                 501
6                 206
7                 343
8                 147
9                   7
10              10083
11               4417
12                879
13               4613
14               9568
15              10699
16               5490
17               3584
18              10917
19               5003
20               1522
21                897
22                492
23                474
24                231
25                325
26                480
27                580
28                440
29                113
30                 50
31               1288
32                 16
33                 62
34                 50
35                 18
36                 21
37                  3
38                 17
39                  7
40                  1
41                615
42                381
43                575
44               1148
45               4545
46               2914
47               1351
48               1014
49               3992
50               6327
51               1836
52                956
53                125
54                 38

In [132]:
X = df.drop('Incident',axis=1).values
y = df.Incident.values

In [133]:
from sklearn.model_selection import train_test_split

In [134]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [135]:
from sklearn.ensemble import RandomForestRegressor

In [136]:
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)
#find score
print('Score :',model.score(X_train, y_train))

Score : 0.7022636969883236

In [137]:
y_pred_test = model.predict(X_test)

In [138]:
from sklearn import metrics

In [139]:
print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, y_pred_test))
print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, y_pred_test))
print('Root Mean Squared Error (RMSE):', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test)))
mape = np.mean(np.abs((np.array(y_test) - np.array(y_pred_test)) / y_test)) * 100
print('Mean Absolute Percentage Error (MAPE):', mape)

Mean Absolute Error (MAE): 8.909815064363993
Mean Squared Error (MSE): 153.56836648998282
Root Mean Squared Error (RMSE): 12.392270433216943
Mean Absolute Percentage Error (MAPE): nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in true_divide
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.

In [140]:
from sklearn import tree

In [141]:
from sklearn.tree import export_graphviz
import pydot

In [142]:
tree = model.estimators_[5]

In [143]:
print('The depth of this tree is:', tree.tree_.max_depth)

The depth of this tree is: 77